{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/contact-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Contact</h1>
            <span class="subheading">Reach us from 0770188647</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}
