{% extends 'layout.html' %}
{% block body %}

<body onload="autoFillName()">

  <img src="{{url_for('video_feed')}}" style="width:1000px;height:600px;">
  <form action="/generateTextFile" method="POST">
    <input type="text" id="videoName" name="text">
    <input type="submit" value="Generate Text File" >
  </form>
</body>
<script type="text/javascript">
  function autoFillName(){
    var videoName = localStorage.getItem("name")
    console.log(videoName);
    var field=document.getElementById("videoName");
    field.value=videoName;
  }

  jquery("videoName").ready(function(){
    autoFillName();
  })
</script>
{% endblock %}
