{% extends 'layout.html' %}
{% block body %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Upload video</h1>
            <span class="subheading">Enter link and upload video</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div style="margin-left:35%">
  <form action="{{ url_for('uploadByLink')}}" method="POST">
    URL for the video:<br><br>
    <input type="url" name="url" style="height:50px;width:500px" id="url"><br><br>
    <input type="submit" class="btn btn-primary" style="height:50px;width:500px" value="Submit">
  </form>
</div>

{% endblock %}
