{% extends 'layout.html' %}
{% block body %}
<header class="masthead" id="header" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Upload video</h1>
            <span class="subheading">You can now upload videos from your local storage</span>
          </div>
        </div>
      </div>
    </div>
</header>

<div style="margin-left:35%">
  <form id="Upload-form" action="{{ url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <div id="inputForm">
      <input type="file" class="btn btn-primary"  name="file" id="file" accept="video/*">
      <button type="button" class="btn btn-primary" name="button" onclick="uploadFile()">Upload</button>
      <br><br>
      Upload progress <br>
      <progress id="progressBar" value="0" max="100" style="width:46%;"></progress>
    </div>

  </form>
</div>
<h3 id="status"></h3>
<p id="loaded_n_total"></p>
<br><br><br>
<p align="center" id="video"></p>
<!--  -->
<div class="" id="text_status">

</div>
<script type="text/javascript">

  function _(el) {
    return document.getElementById(el);
  }

  var form = document.getElementById("Upload-form");
  function uploadFile() {

    var file = _("file").files[0];
    var formdata = new FormData();
    formdata.append("file", file);
    var user_id = localStorage.getItem("id");
    formdata.append("user_id", user_id);

    console.log(user_id);


    var ajax = new XMLHttpRequest();
    ajax.upload.addEventListener("progress", progressHandler, false);
    ajax.addEventListener("load", completeHandler, false);
    ajax.addEventListener("error", errorHandler, false);
    ajax.addEventListener("abort", abortHandler, false);
    ajax.open("POST", form.getAttribute('action'),true); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
  //use file_upload_parser.php from above url
    ajax.send(formdata);
    console.log(formdata);
  }

  function progressHandler(event) {

    var percent = (event.loaded / event.total) * 100;
    _("progressBar").value = Math.round(percent);

  }

  function completeHandler(event) {
    _("video").innerHTML = event.target.responseText;
    _("progressBar").value = 0; //wil clear progress bar after successful upload
    var element = document.getElementById("inputForm");
    element.parentNode.removeChild(element);
    var header = _("header");
    header.parentNode.removeChild(header);
  }

  function errorHandler(event) {
    _("status").innerHTML = "Upload Failed";
  }

  function abortHandler(event) {
    _("status").innerHTML = "Upload Aborted";
  }

  var newform = document.getElementById("genTextFile");
  function sendData(){
    console.log("sendData")
    var formdata = new FormData();
    var user_id = localStorage.getItem("id");
    formdata.append("user_id", user_id);
    var ajax = new XMLHttpRequest();
    ajax.addEventListener("load", successHandler, false);
    ajax.open("POST","{{ url_for('generateTextFile')}}",true);
    ajax.send(formdata);
  }
  function successHandler(event) {
    _("text_status").innerHTML = event.target.responseText;
    var img = document.getElementById("video");
    img.parentNode.removeChild(img);
    var button = document.getElementById("genTextFile");
    button.parentNode.removeChild(button);

  }

</script>
{% endblock %}
